
    <footer class="footer">
        <div class="footer-content">
            <p>Internet magazin de produse electronice - Bloom</p>
        </div>
        <div class="footer-copyright">
            <p>© 2024 Toate drepturile rezervate.</p>
        </div>
    </footer>
