<div class="sidebar">
    <div class="sidebar-header">
        <h2>Categorii de produse</h2>
        <button class="sidebar-close">&times;</button>
    </div>
    <ul class="sidebar-menu">
        <li><a href="#">Laptop-uri</a></li>
        <li><a href="#">Televizoare</a></li>
        <li><a href="#">Telefoane mobile</a></li>
        <li><a href="#">Mouse-uri</a></li>
        <li><a href="#">Tastaturi</a></li>
        <li><a href="#">Audio</a></li>
        <li><a href="#">Accesorii</a></li>
    </ul>
</div>